@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-color: #E6E6F1;
    display: flex;
    justify-content: center;
}

.global-main-container{
    background-color: #283371;
}

.global-secondary-container{
    background-color: #283371;
}

.global-main-text{
    color: #1f2f79;
}

.global-secondary-text{
    color: #1aabe3;
}

.global-main-button{
    background-color: #283371;
}