@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-color: rgb(243 244 246);
}

.global-main-container{
    background-color: #283371;
}

.global-secondary-container{
    background-color: #283371;
}