@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-color: rgb(243 244 246);
    display: flex;
    justify-content: center;
}

.global-main-container{
    background-color: #283371;
}

.global-secondary-container{
    background-color: #283371;
}

.global-main-text{
    color: #283371;
}

.global-main-button{
    background-color: #283371;
}